
###> symfony/framework-bundle ###

symfony_tpgroupe/.env.local
symfony_tpgroupe/.env.local.php
symfony_tpgroupe/.env.*.local
symfony_tpgroupe/config/secrets/prod/prod.decrypt.private.php
symfony_tpgroupe/public/bundles/
symfony_tpgroupe/var/
symfony_tpgroupe/vendor/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
symfony_tpgroupe/phpunit.xml

.phpunit.result.cache
###< phpunit/phpunit ###

###> symfony/phpunit-bridge ###
.phpunit.result.cache

symfony_tpgroupe/phpunit.xml

###< symfony/phpunit-bridge ###
symfony_tpgroupe/var/log/dev.log
